################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Allied-Data-Blazorwembly/Allied-Data-Blazorwembly/bin
